{{!INDEX_PAGE}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Vintage</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link href="assets/css/index.css" rel="stylesheet">

    <script>
        var pager = [
            ['home.html', '01', 'Home', 'Home page']
        ];
    </script>
</head>
<header>
</header>
<main>
    <div class="content">
        <div class="title">
            Project name
        </div>
        <div class="pager"></div>
    </div>
    <div class="window">
        <iframe src="" width="468" height="60" align="left">Your browser does not support iframes!</iframe>
    </div>
</main>
<footer>
    <div class="logo">All you need is
      </svg>
    </div>
    <div class="copyright">by Fresh, All Right Reserved. 2018</div>
</footer>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        var links = '';
        for (var i = 0, length = pager.length; i < length; i++) {
            links += '<a class="page" href="' + pager[i][0] + '"><div class="number">' + pager[i][1] + '</div><div class="name">' + pager[i][2] + '</div><div class="description">' + pager[i][3] + '</div><div class="click"></div> </a>';
        }
        $('.pager').append(links);
        $('.page .click').click(function () {
            url = $(this).parent().attr('href');
            $('iframe').attr('src', url);
            return false
        });
    });
</script>
</html>